.container{
    margin: 0 auto;
    width: 1280px;
}
@media only screen and (max-width:1364px){
    .container{
        width: 1180px;
    }
}
@media only screen and (max-width:1290px){
    .container{
        width: 1180px;
    }
}
@media only screen and (max-width:1270px){
    .container{
        width: 1100px;
    }
}
@media only screen and (max-width:1190px){
    .container{
        width: 1000px;
    }
}
@media only screen and (max-width:1090px){
    .container{
        width: 950px;
    }
}
@media only screen and (max-width:1050px){
    .container{
        width: 900px;
    }
}
@media only screen and (max-width:990px){
    .container{
        width: 850px;
    }
}
@media only screen and (max-width:950px){
    .container{
        width: 820px;
    }
}
@media only screen and (max-width:900px){
    .container{
        width: 780px;
    }
}
@media only screen and (max-width:860px){
    .container{
        width: 720px;
    }
}
@media only screen and (max-width:800px){
    .container{
        width: 670px;
    }
}
@media only screen and (max-width:750px){
    .container{
        width: 600px;
    }
}
@media only screen and (max-width:680px){
    .container{
        width: 550px;
    }
}
@media only screen and (max-width:620px){
    .container{
        width: 500px;
    }
}
@media only screen and (max-width:580px){
    .container{
        width: 470px;
    }
}
@media only screen and (max-width:550px){
    .container{
        width: 420px;
    }
}
@media only screen and (max-width:500px){
    .container{
        width: 400px;
    }
}
@media only screen and (max-width:480px){
    .container{
        width: 380px;
    }
}
@media only screen and (max-width:440px){
    .container{
        width: 350px;
    }
}